.image-upload {
    display: flex;
    border: .1rem rgb(206, 202, 202) solid;
    gap: 10px;
    .image {
      width: 60px;
      height: 60px;
    }
    input {
      display: none;
    }
    label {
      padding: 10px;
      cursor: pointer;
    }
  }